{
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
