@custom-media --screen-desktop (min-width: 1372px);
@custom-media --screen-mobile (min-width: 767px);

:root {
  --bg2: #eff0f0;
  --border-radius: 0.75rem;
  --card-gap: 1rem;
  --card-container-padding: 0.75rem;
  --card-padding: 1rem;
  --card-padding-bottom: 0.75rem;
  --card-title-margin: 0.75rem;

  --text-color: rgba(31, 41, 55, 1);
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-title: 1.25rem;
  --text-title-mobile: 1.5rem;
  --text-opacity: 0.8;

  --shadow-sm: drop-shadow(0 4px 3px rgb(0 0 0 / 0.075));
  --shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
b,
span {
  line-height: 1;
  opacity: var(--text-opacity);
  color: var(--text-color);
}

/* Card Title */
h2 {
  font-size: var(--text-title);
  padding-bottom: var(--card-title-margin);
  font-weight: 600;
}

b {
  min-width: auto;
  font-weight: 400;
}

.card {
  background-color: var(--bg2);
  padding: var(--card-container-padding);
  gap: var(--card-gap);
  border-radius: var(--border-radius);
  filter: var(--shadow-md);
  min-width: fit-content;
}

.card article {
  background-color: white;
  min-width: auto;
  border: 0px;
  border-radius: var(--border-radius);
  filter: var(--shadow-sm);
}

/* Avoid showing `alt` on firefox */
img:-moz-loading {
  visibility: hidden;
}

@media (--screen-desktop) {
  :root {
    --card-padding: 1.75rem;
  }
}