---
import Education from "../components/Education.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Liam Garriga's Portfolio"
  description="A collection of projects by Liam Garriga."
>
  <main>
    <Profile />
    <Skills />
    <Education />
  </main>
</Layout>

<style>
  @import "../styles/main.css";

  main {
    margin: auto;
    padding: var(--card-padding);

    display: grid;
    gap: var(--card-padding);
  }

  @media (--screen-desktop) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
  }
</style>
