---
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";
---

<Layout
  title="Liam Garriga's Portfolio"
  description="A collection of projects by Liam Garriga."
>
  <main>
    <Profile />
    <Skills />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: var(--card-padding);
    max-width: 60ch;

    display: grid;
    gap: var(--card-padding);
  }
</style>
