---
import config from "../../gitprofile.config";
---

<div class="card">
  <article>
    <h2>Education</h2>
    {
      config.education.map((ed) => (
        <>
          <h3>{ed.degree}</h3>
          <h4>{ed.from} - {ed.to}</h4>
          <b>{ed.institution}</b>
        </>
      ))
    }
  </article>
</div>

<style>
  @import "../styles/main.css";

  .card {
  }

  @media (--screen-desktop) {
    .card {
      display: flex;
    }
  }

  .card > article {
    display: flex;
    flex-direction: column;
    padding-top: var(--card-padding);
    padding-bottom: var(--card-padding-bottom);
    padding-left: var(--card-padding-bottom);
    padding-right: var(--card-padding-bottom);
  }

  article {
    text-align: center;
  }
  
  /* Card Title */
  
  /* Degree */
  article > h3 {
    font-size: var(--text-sm);
    font-weight: 600;
  }
  
  /* From - To */
  article > h4 {
    font-size: var(--text-xs);
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.15rem;
    opacity: 0.55;
  }
  
  /* Institution */
  article > b {
    font-weight: 400;
    line-height: 1rem;
    font-size: var(--text-xs);
    word-wrap: break-word;
  }
</style>
