---
import "../styles/main.css";
import config from "../../gitprofile.config";
---

<div class="card">
  <article class="tech">
    <h1>Tech Stack</h1>
  </article>
</div>

<style>
  .card {
    
  }
  
  .card > article {
    display: flex;
    padding: var(--card-padding);
  }

  .tech {

  }
</style>